.card {
    width: 384px;
    height: 280px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardContent { 
    display: flex;
    gap: 10px;
}

.userInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 10px;
}   
.profileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.fromName {
    font-size: 20px;
    color: #666666;
}

.fromName span {
    font-size: 20px;
    font-weight: bold;
    color: black
}

.relationTag {
    width: 41px;
    height: 20px;
    font-size: 14px;
    color: #9935FF;
    border-radius: 5px;
    background-color: #F8F0FF;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.cardDesc {
    display: flex;
    flex-direction: column;
    gap: 10px;
}*/

.messageContent {
    width: 336px;
    height: 106px;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 10px;
    border-top: 1px solid rgba(128, 128, 128, 0.4);
}

.writtenDate {
    font-size: 12px;
    color: #999999;
}